.main-contents {
    margin-top: 30px;
}

.main-heading {
    margin-bottom: 20px;
}

.main-btn {
    margin-left: 10px;
}

.main-modal{
    display: inline-block;
}

.main-log {
    cursor: pointer;
}